{%extends "quizzing/base.html" %}
{% block content %}
<div class="container-fluid p-0">
<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0 text-white">Quizzing CLUB,</h1>
        <h1 class="text-muted"> IIT MANDI</span></h1>
        <p class="lead mb-5 text-white">
            “The greatest enemy of knowledge is not ignorance, it is the illusion of knowledge.”
            <br>
            ― Daniel J. Boorstin
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.instagram.com/litcouncil_iitmandi/"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="https://www.facebook.com/literarysocietyiitmandi"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="mailto:quizzing_club@students.iitmandi.ac.in"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock content %}