
{%extends "blog/base.html" %}
{% block content %}
<style>
  .container {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
  }
  
  .head_text {
      color: white;
  }
  
  .card {
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 16px 48px #E3E7EB;
      background-color: #11111110;
      border: none;
  }
</style>

<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-12 mt-3 left">
          {% for post in post_list %}
          <div class="card mb-4">
              <div class="card-body">
                  <h3 class="card-title">{{ post.title }}</h3>
                  <p class="card-text text-muted h6">{{ post.author }} | {{ post.date}} </p>
                  <p class="card-text">{{post.content|slice:":200"}}....</p>
                  <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More &rarr;</a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock content %}
