{%extends "blog/base.html" %}
{% block content %}
<div class="container-fluid p-0">
<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            WRITING CLUB,
            <span class="text-primary"> IIT MANDI</span>
        </h1>
        <div class="subheading mb-5">
            On the banks of Uhl!
            <a href="mailto:writing_club@students.iitmandi.ac.in">writing_club@students.iitmandi.ac.in</a>
        </div>
        <p class="lead mb-5">
            We’ve arrived at the land of magic, <br>
            Where guilds take on quests<br>
            To defeat demons in the dungeons with spears of words<br>
            Where knights are armed with pens,<br>
            And the wizards call their wands quills.<br>
            Where bouts and duels are contests of pencraft<br>
            And the warriors compete for the title of the best penman.<br>
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.instagram.com/litcouncil_iitmandi/"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="https://www.facebook.com/literarysocietyiitmandi"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock content %}
